/* LineChart.css */

/* Container for the chart */
.line-chart-container {
  width: 800px;
  height: 100%;
  margin-bottom: 500px;
  background: white;
  border-radius: 20px;
  position: relative;
}

/* Custom legend container */
.custom-legend {
  position: absolute;
  top: 50px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Legend item style */
.custom-legend div {  
  display: flex;
  align-items: center;
}


/* Legend text style */
.custom-legend span {
  font-size: 12px;
}

/* Specific styles for the tooltip */
.chartjs-tooltip {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #cccccc !important;
  border-width: 1px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Info icon in the header */
.info-icon {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  color: gray;
}

.info-icon:hover {
  color: black;
}

/* Title style */
.line-chart-container h3 {
  font-size: 16px;
  margin-bottom: 90;
  margin-left: 50px;
  color: #000000;
}



.custom-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-icon {
  position: relative;
  width: 30px;
  /* Total width of the legend item */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend-icon::before,
.legend-icon::after {
  content: '';
  width: calc(50% - 4px);
  /* Adjusts line length on either side */
  height: 2px;
  background-color: currentColor;
  /* Match the line color with the current color */
}

.legend-icon span {
  width: 5px;
  height: 3px;
  border-radius: 50%;
  background-color: transparent;
  /* White center */
  border: 2px solid currentColor;
  /* Border color same as the line color */
  z-index: 1;
  /* Ensure the circle appears above the lines */
}

.legend-icon.orders {
  color: orange;
}

.legend-icon.sales {
  color: cyan;
}

.legend-label {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}