
.line-chart-container {
  width: 800px;
  height: 107%;
  margin-bottom: 500px;
  background: white;
  border-radius: 20px;
  position: relative;
}

.custom-legend {
  position: absolute;
  top: 50px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom-legend div {  
  display: flex;
  align-items: center;
}


.custom-legend span {
  font-size: 12px;
}

.chartjs-tooltip {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #cccccc !important;
  border-width: 1px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-icon {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  color: gray;
}

.info-icon:hover {
  color: black;
}

.line-chart-container h3 {
  font-size: 16px;
  margin-bottom: 90;
  margin-left: 50px;
  color: #000000;
}



.custom-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-icon {
  position: relative;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend-icon::before,
.legend-icon::after {
  content: '';
  width: calc(50% - 4px);
  height: 2px;
  background-color: currentColor;
}

.legend-icon span {
  width: 5px;
  height: 3px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid currentColor;
  z-index: 1;
}

.legend-icon.orders {
  color: orange;
}

.legend-icon.sales {
  color: cyan;
}

.legend-label {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}