/* PieChart.css */


.pie-chart {
  height: 100%;
  display: flex;
  background: white;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  margin-top: 0;
  border-radius: 20px;
  position: relative;
}

.pie-chart h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.pie {
  margin-top: -50%;
  height: 100px;
  max-width: 500px;
}

.legend {
  margin-top: -50%;
  display: flex;
    justify-content: center;
}

.legend div {
  display: flex;
  margin-right: 10px;
    font-size: 10px;
  margin-bottom: 5px;
}

.legend-color {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .pie-chart h3 {
    font-size: 1.25rem;
  }

  .pie {
    height: 250px;
    /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .pie-chart h3 {
    font-size: 1rem;
  }

  .pie {
    height: 200px;
    /* Adjust height for very small screens */
  }

  .legend {
    flex-direction: column;
  }
}