.sidebar {
  width: 350px;
  background-color: #f4f5f7;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}

.sidebar li.active,
.sidebar li:hover {
  color: #AB6FEB;
  background-color: #e7cdf4;
}