.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 80vh;
}

.top-display {
  
  color: #AB6FEB;
  
  
  margin-bottom: 20px;
  border-bottom: 1px solid #e7cdf4;
}

.flex{
  background-color: white;
  font-size: 18px;
    font-weight: bold;
    padding: 10px;
  width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected-item-display {
  font-size: 24px;
  color: #AB6FEB;
  text-align: center;
  margin-top: 20px;
}